


    <!-- Container (About Section) -->
    <div class="pt-4 mx-5 bg-light text-center">
        <h2>About Us</h2>
        <br />
        <p>Arion Development was founded in the spring of 2020 by Rachael Cook, Katrina Diduryk, and Brianna Moreland 
        with a mission to provide a hassle-free car buying, selling, and renting experience. Arion strives to provide 
        the hightest caliber of customer service. At Arion, our employees are family and we care about their well-being; 
        which is why we provide competitive benefits and create an environment where people are excited to go to work.
        We are so glad you are here and believe you will soon see what all the hype is about.</p>

    </div>


@*
    <div class="mx-5 bg-light text-center">
        <h2>Mission</h2>
        <br />
        <p>Arion's mission is to provide a hassle-free car buying, selling, and renting experience.
        Arion strives to provide the highest caliber of customer service. </p>
    </div>
*@

    <style>
        .container {
            padding: 80px 120px;
        }

        .person {
            border: 10px solid transparent;
            margin-bottom: 25px;
            width: 80%;
            height: 80%;
            opacity: 0.7;
        }

            .person:hover {
                border-color: #f1f1f1;
            }
    </style>


    <div class="container text-center">
        <h3>Executive Board</h3>
        <p><em></em></p>
        <p></p>
        <br>
        <div class="row">
            <div class="col-md-4">
                <p class="text-center"><strong>Rachael Cook</strong></p><br>
                <img src="~/images/IMG_Rach.jpg" class="rounded-circle person" alt="Rachael Cook" width="255" height="255">
            </div>
            <div class="col-md-4">
                <p class="text-center"><strong>Katrina Diduryk</strong></p><br>
                <img src="~/images/IMG_Katrina.jpg" class="rounded-circle person" alt="Katrina Diduryn" width="255" height="255">
            </div>
            <div class="col-md-4">
                <p class="text-center"><strong>Brianna Moreland</strong></p><br>
                <img src="~/images/IMG_Bri.jpg" class="rounded-circle person" alt="Brianna Moreland" width="255" height="255">
            </div>
        </div>

    </div>

